<form action="/listings" method="post">
<label for="newJobTitle">Job Title</label>
<input type="text" name="newJobTitle" id="newJobT">

<label for="newCompanyName">Company Name</label>
<input type="text" name="newCompanyName" id="newCompanyN">

<label for="newDescription">Job Description</label>
<input type="text" name="newDescription" id="newDesc">

<label for="newContactName">Contact Name</label>
<input type="text" name="newContactName" id="newName">

<label for="newContactEmail">Email</label>
<input type="text" name="newContactEmail" id="newEmail">

<label for="newContactPhone">Phone Number</label>
<input type="text" name="newContactPhone" id="newPhone">

<button type="submit">Submit</button>
</form>


